body {
  background-color: rgb(21, 20, 19);
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  background-color: #1a3249;
  color: #ffffff;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 10px;
}
